<html>
  <head> 
    <style>
      body{
        align-items: center;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    position: relative;
    z-index: 1;
    margin-top: 130;
      }
    </style>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  

  <body>
    {%if data == 0%}
    <h1>FAKE NEWS</h1>

    {%else%}
    <h1>REAL NEWS</h1>

    {%endif%}

    <a href="/">go back to home page</a>
  </body>
</html>
